<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Epicom_MHub
 * @copyright   Copyright (c) 2017 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Epicom_MHub>
            <version>0.1.11</version>
        </Epicom_MHub>
    </modules>
    <global>
        <helpers>
            <mhub>
                <class>Epicom_MHub_Helper</class>
            </mhub>
        </helpers>
        <blocks>
            <mhub>
                <class>Epicom_MHub_Block</class>
            </mhub>
            <adminhtml>
                <rewrite>
                    <page_menu>Epicom_MHub_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mhub>
                <class>Epicom_MHub_Model</class>
                <resourceModel>mhub_mysql4</resourceModel>
            </mhub>
            <mhub_mysql4>
                <class>Epicom_MHub_Model_Mysql4</class>
                <entities>
                    <attributegroup>
                        <table>epicom_mhub_attribute_group</table>
                    </attributegroup>
                    <brand>
                        <table>epicom_mhub_brand</table>
                    </brand>
                    <category>
                        <table>epicom_mhub_category</table>
                    </category>
                    <product>
                        <table>epicom_mhub_product</table>
                    </product>
                    <provider>
                        <table>epicom_mhub_provider</table>
                    </provider>
                    <product_association>
                        <table>epicom_mhub_product_association</table>
                    </product_association>
                    <order>
                        <table>epicom_mhub_order</table>
                    </order>
                    <order_status>
                        <table>epicom_mhub_order_status</table>
                    </order_status>
                    <shipment>
                        <table>epicom_mhub_shipment</table>
                    </shipment>
                    <nf>
                        <table>epicom_mhub_nf</table>
                    </nf>
                    <quote>
                        <table>epicom_mhub_quote</table>
                    </quote>
                </entities>
            </mhub_mysql4>
        </models>
        <resources>
            <mhub_setup>
                <setup>
                    <module>Epicom_MHub</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mhub_setup>
            <mhub_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mhub_write>
            <mhub_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mhub_read>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <mhub_product_id />
                        <mhub_product_sku />
                        <mhub_product_code />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <mhub_product_id>
                    <to_order_item>*</to_order_item>
                </mhub_product_id>
                <mhub_product_sku>
                    <to_order_item>*</to_order_item>
                </mhub_product_sku>
                <mhub_product_code>
                    <to_order_item>*</to_order_item>
                </mhub_product_code>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <mhub_product_id>
                    <to_quote_item>*</to_quote_item>
                </mhub_product_id>
                <mhub_product_sku>
                    <to_quote_item>*</to_quote_item>
                </mhub_product_sku>
                <mhub_product_code>
                    <to_quote_item>*</to_quote_item>
                </mhub_product_code>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <epicom_mhub_sales_quote_collect_totals_after>
                        <class>mhub/observer</class>
                        <method>salesQuoteCollectTotalsAfter</method>
                    </epicom_mhub_sales_quote_collect_totals_after>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_quote_item_set_product>
                <observers>
                    <epicom_mhub_sales_order_item_set_product>
                        <class>mhub/observer</class>
                        <method>salesQuoteItemSetProduct</method>
                    </epicom_mhub_sales_order_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_place_before>
                <observers>
                    <epicom_mhub_sales_order_place_before>
                        <class>mhub/observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </epicom_mhub_sales_order_place_before>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <epicom_mhub_sales_order_place_after>
                        <class>mhub/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </epicom_mhub_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <admin_mhub>
                <use>admin</use>
                <args>
                    <module>Epicom_MHub</module>
                    <frontName>admin_mhub</frontName>
                </args>
            </admin_mhub>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Epicom_MHub>
                    <files>
                        <default>Epicom_MHub.csv</default>
                    </files>
                </Epicom_MHub>
            </modules>
        </translate>
        <layout>
            <updates>
                <mhub>
                    <file>epicom/mhub.xml</file>
                </mhub>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <epicom_mhub_adminhtml_block_html_before>
                        <class>mhub/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </epicom_mhub_adminhtml_block_html_before>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <mhub>
                <use>standard</use>
                <args>
                    <module>Epicom_MHub</module>
                    <frontName>mhub</frontName>
                </args>
            </mhub>
        </routers>
        <translate>
            <modules>
                <Epicom_MHub>
                    <files>
                        <default>Epicom_MHub.csv</default>
                    </files>
                </Epicom_MHub>
            </modules>
        </translate>
        <category>
            <collection>
                <attributes>
                    <mhub_category_attributeset />
                    <mhub_category_isactive />
                </attributes>
            </collection>
        </category>
        <product>
            <collection>
                <attributes>
                    <mhub_product_id />
                    <mhub_product_sku />
                    <mhub_product_code />
                </attributes>
            </collection>
        </product>
    </frontend>
    <crontab>
        <jobs>
            <epicom_mhub_brand>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runBrand</model></run>
            </epicom_mhub_brand>
            <epicom_mhub_category>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runCategory</model></run>
            </epicom_mhub_category>
            <epicom_mhub_product>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runProduct</model></run>
            </epicom_mhub_product>
            <epicom_mhub_product_input>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runProductInput</model></run>
            </epicom_mhub_product_input>
            <epicom_mhub_provider>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runProvider</model></run>
            </epicom_mhub_provider>
            <epicom_mhub_order>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runOrder</model></run>
            </epicom_mhub_order>
            <epicom_mhub_order_status>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runOrderStatus</model></run>
            </epicom_mhub_order_status>
            <epicom_mhub_order_complete>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runOrderComplete</model></run>
            </epicom_mhub_order_complete>
            <epicom_mhub_shipment>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>mhub/cron::runShipment</model></run>
            </epicom_mhub_shipment>
        </jobs>
    </crontab>
    <default>
        <carriers>
            <epicom>
                <active>1</active>
                <model>mhub/shipping_carrier_epicom</model>
                <title>Epicom</title>
                <name>epicom</name>
                <delivery_time>5</delivery_time>
                <sallowspecific>0</sallowspecific>
            </epicom>
        </carriers>
        <customer>
            <address>
                <street_lines>4</street_lines>
                <taxvat_show>1</taxvat_show>
            </address>
        </customer>
        <payment>
            <epicom>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <model>mhub/payment_method_epicom</model>
                <order_status>pending</order_status>
                <title>Epicom</title>
                <allowspecific>0</allowspecific>
            </epicom>
        </payment>
        <mhub>
            <settings>
                <url><![CDATA[https://sandboxmhubapi.epicom.com.br/v1/]]></url>
                <mode>marketplace</mode>
                <ssl>1</ssl>
                <timeout>60</timeout>
            </settings>
            <queue>
                <category>60</category>
                <product>60</product>
            </queue>
            <product>
                <weight_mode>gram</weight_mode>
                <id>mhub_product_id</id>
                <code>sku</code><!-- mhub_product_code -->
                <brand>mhub_product_brand</brand>
                <ean>mhub_product_ean</ean>
                <!--
                <sku>mhub_product_sku</sku>
                -->
                <summary>mhub_product_summary</summary>
                <url>mhub_product_url</url>
                <!--
                <out_of_line>mhub_product_out_of_line</out_of_line>
                -->
                <manufacturer>manufacturer</manufacturer><!-- mhub_product_manufacturer -->
                <model>mhub_product_model</model>
                <offer_title>mhub_product_offer_title</offer_title>
                <height>mhub_product_height</height>
                <width>mhub_product_width</width>
                <length>mhub_product_length</length>
            </product>
            <cart>
                <cache_enabled>1</cache_enabled>
                <cache_lifetime>3600</cache_lifetime>
                <best_price>1</best_price>
                <error_message><![CDATA[Some products are currently unavailable for purchase.]]></error_message>
                <product_message><![CDATA[This product is currently unavailable for purchase.]]></product_message>
            </cart>
            <quote>
                <store_view>0</store_view>
                <customer_mode>guest</customer_mode>
            </quote>
            <order>
                <reserve_filter>pending</reserve_filter>
                <confirm_filter>processing</confirm_filter>
                <cancel_filter>canceled</cancel_filter>
                <sent_filter>complete</sent_filter>
            </order>
            <shipment>
                <nf_status>processing</nf_status>
                <nf_comment>Nota fiscal emitida.</nf_comment>
                <nf_notified>1</nf_notified>
                <parcial_status>processing</parcial_status>
                <parcial_comment>Nem todas as entregas ainda foram finalizadas no endereço do comprador.</parcial_comment>
                <parcial_notified>1</parcial_notified>
                <sent_status>complete</sent_status>
                <sent_comment>A entrega foi despachada para a transportadora e está a caminho.</sent_comment>
                <sent_notified>1</sent_notified>
                <delivered_status>complete</delivered_status>
                <delivered_comment>Entregue no endereço do comprador.</delivered_comment>
                <delivered_notified>1</delivered_notified>
                <failed_status>canceled</failed_status>
                <failed_comment>Não foi possível entregar no endereço informado.</failed_comment>
                <failed_notified>1</failed_notified>
                <canceled_status>canceled</canceled_status>
                <canceled_comment>Entrega cancelada.</canceled_comment>
                <canceled_notified>1</canceled_notified>
            </shipment>
            <complete>
                <delivered_comment>O pedido foi entregue com sucesso.</delivered_comment>
                <delivered_notified>1</delivered_notified>
            </complete>
        </mhub>
    </default>
</config>

